

<div class="padded">
<button id="party" class="btn btn-primary" onclick={{action 'selectDir'}}>Open Directory</button>
</div>
<div class="table-responsive padded">
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {{#each fileList as |file|}}
      <tr>
        {{#if file.isDirectory}}
        <td><div class="folder-icon"></div></td>
         <td><a href="" {{action "openDir" file.filePath}}>{{file.base}}</a></td>
           <td>{{file.fileExt}}</td>
        {{else}}
        <td></td>
        <td><a href="" {{action "openFile" file.filePath}}>{{file.base}}</a></td>
          <td>{{file.fileExt}}</td>
        {{/if}}
      
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
