<div class="padded">
    <div>
        <h2>
            File Name: {{pFile.name}}
        </h2>
    </div>
    <div>
        File Directory Path: {{pFile.dir}}
    </div>
    <div>
        File Type: {{pFile.ext}}
    </div>
</div>
<div class="padded">
    <div>
        Polygons: {{dataFile.polygons.length}}
      
    </div>
    <div>
        Polylines: {{dataFile.polylines.length}}
    </div>
    <div>
        Points: {{dataFile.points.length}}
    </div>
</div>
<div class="padded">
     <label>
     {{input type="checkbox"  name="isConvertPolyline" checked=isConvertPolyline}} Convert polylines to polygons (close shape)
    </label>
</div>

<div class="padded">
    <form>
        <div class="form-group">
            <label>Output Format</label>
            <select id="outputFormat" class="form-control">
    <option>Surfer (.bln)</option>
   </select>
        </div>
        <div class="form-group">
            <label>Output Directory</label>
            <div >
            {{input type="text" value=savePath class="form-control"}}
            </div>
            
        </div>
        <div class="form-group">
            <label>Decimal Places</label>
             <div >
            {{input type="number" value=decimalPlaces class="form-control"}}
            </div>
           
        </div>
        <div class="form-group">
            <label>Coordinates</label>
            <select id="coordinates" onchange={{action "selectCoord" value="target.value"}} class="form-control">
                <option value="XY">XY</option>
                <option value="XZ">XZ</option>
                <option value="YZ">YZ</option>
            </select>
        </div>
        <div class="form-actions">
           
            <button type="submit" {{action "exportFile"}} class="btn btn-form btn-primary">Export</button>
        </div>
        <div>
            <label>{{informationNotice}}</label>
        </div>
    </form>
</div>